@import "./node_modules/bootstrap/scss/bootstrap";

img{
    height: 48%;
    width: 27%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    min-height: 100px;
}


.elevator-button {
    background-color: #007BFF;
    color: #fff;
}